.navbar {
    background-color: pink; /* Dark grey color */
    margin-bottom: 20px;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

/* Styling for the dark theme */
/* Default styles for light theme */
.wrapcontent[data-bs-theme='light'] {
  background-color: lightslategray;
  color: black;
}

/* Dark theme styles */
.wrapcontent[data-bs-theme='dark'] {
  background-color: #343a40;
  color: white;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}
.bd-mode-toggle {
  z-index: 1500;
}

.theme-icon-active use {
  fill: white; /* Set the fill color to white for active icons */
}
.text-center {
  font-family: "IBM Plex Sans", sans-serif;
  font-style: italic;
}


.h1h {
  margin-top: 5%;
  margin-bottom: 5%;
}

.col-6 {
  display: flex;
  justify-content: center; /* Center the button horizontally */
  margin-right: auto;
  margin-left: auto;
  flex-basis: 45%;
  padding: 0; /* Remove default padding */
}

.col-6 a {
  width: 100%; /* Make the button fill the entire column width */
}

/* Styles for the custom button */
.custom-button {
  display: block;
  width: 100%;
  text-align: center;
  background-color: lightslategrey; /* Make the button transparent */
  padding: 10px;
  text-decoration: none;
  transition: background-color 0.3s; /* Add smooth transition */
  margin-top: 15%;
}

/* On hover, set the background color */
.custom-button:hover {
  background-color: pink; /* Set your desired background color */
}



body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 90%;
  overflow: hidden;
  cursor: none;
}

#particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.p {
  position: absolute;
  top: -6px;
  left: -3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: radial-gradient(rgba(255, 182, 193, .5), rgba(255, 255, 255, 0)); /* Pink color */
}

/* CSS for mobile */

media screen and (max-width: 600px) {
  .col-6 {
    flex-basis: 100%;
  }
}