{% extends "layout.html" %}

{% block title %}
    MAIN
{% endblock %}

{% block main %}
<div class="container-fluid vh-100 d-flex align-items-center justify-content-center">
    <!-- Left Half -->
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="display-4">Nice to meet you!</h1>
                <p class="lead">This site is currently being build as you read. <br>
                    Meanwhile see my resume or explore this Sites Apps
                </p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12 text-center">
                <a href="/resume" class="btn btn-primary me-3">View Resume</a>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Explore
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/ai">AI</a>
                        <a class="dropdown-item" href="/ml">ML</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Right Half -->
    <div class="col-md-6 d-flex justify-content-center">
        <img src="srcd" class="img-fluid" alt="AI and ML Image">
    </div>
</div>
{% endblock %}